<template name="createLobby">
	<div class="create-lobby-page">
		<form class="newLobby">
			<input type="text" name="name" placeholder="Lobby name" required><br>
			<input type="text" name="description" placeholder="Lobby description"><br>
			<input type="text" name="password" placeholder="Lobby password" ><br>
			<br><input type="checkbox" name="privatelobby" id="privatelobby" value="1" style="width:15px;"><label>Private lobby</label>

			<input type="submit" value="Submit">
		</form>
	</div>
</template>
